<launch>

       <!-- Load PX4 node-->

	<arg name="fcu_url" default="/dev/ttyUSB0:921600" />

	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="$(arg fcu_url)" />
	</include>


	<!-- Load recognition node -->

	<include file="$(find mark_follower)/launch/first_challenge_recognition.launch" />

	<!-- Load UAV control node -->

	<node name="hexacopter_class" pkg="hexacopter_class" type="hexacopter_class" respawn="true" output="screen" />
    
</launch>
